#!/bin.bash

# If it's on tmux
if [ -n "$TMUX_PANE" ] ; then
  export FZF_TMUX_HEIGHT=20
else
  export FZF_TMUX_HEIGHT=100
fi

if [ "$SHELL" == "/bin/bash" ] ; then
    SOURCE_FILE="/etc/fzf/.fzf.bash"
else
    SOURCE_FILE="/etc/fzf/.fzf.zsh"
fi

# Load bindings
[ -f $SOURCE_FILE ] && source $SOURCE_FILE

export FZF_TMUX=1
export FZF_DEFAULT_COMMAND='ag -g ""'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
