#!/bin.bash

# Look if it's on tmux
__fzf_use_tmux__() {
  [ -n "$TMUX_PANE" ] && [ "${FZF_TMUX:-0}" != 0 ] && [ ${LINES:-40} -gt 15 ]
}

# If it's on tmux
if __fzf_use_tmux__; then
  export FZF_TMUX_HEIGHT=20
else
  export FZF_TMUX_HEIGHT=100
fi

if [ "$SHELL" == "/bin/bash" ] ; then
    SOURCE_FILE="/etc/fzf/.fzf.bash"
else
    SOURCE_FILE="/etc/fzf/.fzf.zsh"
fi

# Load bindings
[ -f $SOURCE_FILE ] && source $SOURCE_FILE

export FZF_TMUX=1
export FZF_DEFAULT_COMMAND='ag -g ""'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_T_OPTS='--preview "head -n 20 {}" --color light'
